html {
	background: #333;
}
body{ padding: 0px; margin: 0px; }

.container {
	border: 1px solid #555;
	background: #222;

}


.scene {
	width: 1000px;
	min-height: 500px;
	position: relative;
	overflow: hidden;
	margin: 200px auto ;
}


.bk-brownstones {
	background: url("brownstone_layer/background.svg");
	background-color: white;
	height: 500px;
	transform: translateZ(0);
	backface-visibility: hidden;
	perspective: 1000;
	animation: bk 20s -5s linear infinite;
}


.fore {
  background: url("tree_foreground_layer/foreground.svg");
  transform: translateZ(0);
  height: 900px;

  animation: fore 40s -5s linear infinite;
}



@keyframes bk {
	100% {
		background-position: -1000px 0;
	}
}
@keyframes fore {
	100% {
		background-position: -4800px 0;
	}
}